/* ---------- Colour Pallette 1 ---------- */
/* #FFFFFF #27211E #312824 #7D8260 #D0AC68 */

/* ---------- GLOBAL ELEMENTS ---------- */
/* remove all default padding and margin so i can build consistently */
* {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 1rem;
}

/* set font across the body */
body, html {
  height: 100vh;
  /* height: 100%; */
  font-family: 'Saira Condensed', sans-serif;
  color: #27211E;
}

/* ---------- MODULES ---------- */
/* setting standardised padding to be re-used */
.my-padding {
  padding: 80px;
}

/* may not need this.. come back and check */
.white-background {
  background-color: white;
}

.mustard-background {
  background-color: #D0AC68;
}
.mustard-text {
  color: #D0AC68;
}

.green-background {
  background-color: #7D8260;
}
.green-text {
  color: #7D8260;
}
.brown-background {
  background-color: #27211E;
}
.brown-text {
  color: #27211E;
}
/* not used yet... */
.vertical-align {
  vertical-align: middle;
}

.float-50 {

}

.float-25 {

}

/* ---------- HEADER | MENU SECTION ---------- */
/* unique padding here so using shorthand, and not my preset */
.header-div {
  position: relative;
  background-color: #312824;
  color: white;
  padding: 40px 80px;
}

/* unique settings for logo font-styling */
.logo-text {
  font-weight: 100;
  font-family: 'Zeyada', cursive;
}

/* using margin setting for top and bottom spacing */
hr {
  margin: 16px 0;
}

/* setting menu item inline here (rather than the default stacked block) */
.menu-items {
  display: inline;
  padding: 0 4px;
}

/* position linkedin icon to be flush with to the margin */
.linkedin-icon {
  position: absolute;
  right: 80px;
  bottom: 45px;
}

/* ---------- HERO SECTION ---------- */
/* colouring module background, giving height and padding */
.hero-container {
  color: white;
  height: 720px;
}

/* adding hero image here, using the fixed scroll for my preferred aesthic styling */
.image-container {
  background-image: url("https://i.insider.com/626beed9c8c8ac0019410d59?width=2000&format=jpeg&auto=webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* setting to cover here so it stretches out nicely on bigger screens. cuts off otherwise. */
  background-size: cover;
  filter: contrast(75%);
  height: 100%;
  width: 100%;
}

/* i am using this extra div to centre align the h1 below */
.vert-aligning-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* now centre aligning the h1 text and giving unique font-style settings */
.title-text {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
}

/* ---------- ABOUT SECTION ---------- */
/* creating about container and setting static height in px */
.about-container {
  height: 400px;
}

/* left floated container with about text */
/* inheriting height from parent */
.left-container {
  /* position: sticky; */
}

/* right floated container with image of Julie */
/* inheriting height from parent */
.right-container {
  /* position: inherit; */
  height: inherit;
  background-image: url("/images/julie-classic-photo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  /* background-size: cover; */
  /* everything goes wrong with this fixed */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-position-y: 275px; */
  /* contain is wrong below */
  /* background-size: contain; */
}

/* giving unique padding to text elements */
.about-title {
  margin
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
.column-wrapper {
  float: left;
  width: 50%;
  height: inherit;
}

/* ---------- SERVICES SECTION ---------- */
.services-container {
  /* height: 340px; */
}

.services-text {}

/* ---------- GALLERY SECTION ---------- */
.gallery-container {
  /* height: 100%; */
  height: 340px;
}

.box1, .box2, .box3, .box4 {
  height: 340px;
  float: left;
  width: 25%;
  background-position: center;
  background-size: cover;
}

.box1 {
  background-image: url("images/english-coutryside-gardens.jpg");
}

.box2 {
  background-image: url("https://i.pinimg.com/originals/6b/a8/1d/6ba81d91ca48444dabbf2f0163cc8241.jpg");
}

.box3 {
  background-image: url("https://www.homestratosphere.com/wp-content/uploads/2018/03/backyard-landscape-design-terraced-hs-mar2018.jpg");
}

.box4 {
  background-image: url("https://images.ctfassets.net/zma7thmmcinb/6gNO8CW2AeuN43klcJ3KAo/1e7ad972f55284d1c2c2515561fa17a1/calculate-how-many-vegetables-to-plant-lead.jpg");
}

/* ---------- CONTACT ---------- */
.l1-contact {
  background-color: #7D8260;
  height: 680px;
  position: relative;
}

.l2-contact {
  background-color: white;
  position: absolute;
  top: 80px;
  right: 80px;
  left: 80px;
  bottom: 80px;
}

.l3-L-contact-image {
  /* background-image: url("/Users/KatNine/Desktop/My Coding Sites/Final Project - Mum's Site/images/English Countryside Gardens.jpg"); */
  background-image: url("https://media.istockphoto.com/photos/landscape-architect-design-backyard-plan-for-villa-picture-id508883288?k=20&m=508883288&s=612x612&w=0&h=xp_z8vFVS22hevERZdiymRbMvhxsuy5hUhTJBWe41e0=");
  background-attachment: fixed;
  height: 520px;
  float: left;
  width: 50%;
}

.l3-R-contact {
  background-color: white;
  height: 520px;
  float: left;
  width: 50%;
}

.l4-contact-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 80px;
}

/* ---------- GOOGLE MAPS ---------- */
/* ---------- FOOTER ---------- */
footer {
  background-color: #312824;
  color: white;
  position: relative;
  height: 150px;
}

/* L2 - Inner Frame */
.l2-footer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* L3 - Columns */
.l2-1of4-footer, .l2-2of4-footer, .l2-3of4-footer, .l2-4of4-footer {
  float: left;
  width: 25%;
  height: 150px;
}

/* L4 - Control */
.box1-footer {
  /* width: 80%; */
  margin-top: 20px;
  margin-left: 80px;
}

.box2-footer {
  margin-top: 92px;
  margin-left: 80px;
}

.box3-footer {
  margin-top: 66px;
  margin-left: 80px;
}

.box4-footer {
  margin-top: 92px;
  margin-left: 80px;
}

.footermarginreset {
  margin-top: 0;
  margin-bottom: 0;
}
